<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple web app showing you the best dish ever served and food fact" />
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#21325e" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <title>Restaurant Arras</title>
    <script src="https://kit.fontawesome.com/6213932414.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Roboto:wght@400;700&family=Saira:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
        <nav-web></nav-web>
    </header>
    <hero-web></hero-web>
    <main id="main-content" tabindex="-1"></main>
    <foot-web></foot-web>
</body>

</html>